.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*[type="button"],*[role="button"] span {
  /* Fix MUI broken default settings: Button text is always in all caps */
  text-transform: none !important;
}

/* see: https://stackoverflow.com/a/24979148 */
.app-cont {
  display: flex;
  flex-flow: column;
  min-height: 100%;
}

.app-nav {
  display: flex;
  flex: 0 1 auto;
}

.app-main {
  display: flex;
  flex: 1 1 auto;
}
